$error: #FF0000;

.item {
  position: relative;
  display: flex;
  align-items: center;
  margin: 32px 0;

  &__label {
    margin: 0;
    font-size: 21px;
    line-height: 19px;
    width: 225px;
  }

  &__description {
    margin: 0;
    padding-left: 15px;
    font-size: 12px;
    color: #999999;
    max-width: 410px;
  }

  select,
  input {
    width: 335px;
    font-size: 16px;
    padding: 6px 12px;
    line-height: 19px;

  }

  &.error {

    select,
    input{
      border: 1px solid $error;
      color: $error;
    }

    .error--description {
      position: absolute;
      color: $error;
      left: 225px;
      top: 100%;
      margin: 0;
    }
  }
}
